<h1>All Teams</h1>

<% @admin = Administrator.find_by_id(session[:admin_id])%>
<% @teams = Team.all %>

<!-- All created teams will be displayed.-->
<h3> Teams created </h3>
<% @teams.each do |t| %> 
<% @group = Group.find_by(id: t.group_id)%>
    <!-- For each created team we can edit or delete.-->
    <% t.id %> <%= t.name %> Group: <%= @group.name %> <a href="/all_teams/<%= t.id %>/edit">Edit Team</a>  
  
    
    <!-- This is a button to delete the team-->
    <!-- It calls a post method, but overrides it with delete-->
    <form action="/all_teams_delete/<%= t.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Team" />
    </form>
    </p>

<% end %>

<p><a href="/landingpage_admin">Back</a></p>