<h1>Create Team</h1>

  <% @admin = Administrator.find_by_id(session[:admin_id]) %>
  <% if @error %>
      <div class="error">Sign up failed.</div>
  <% end %>

  <form action="/admin/team/new" method="post">
      Enter Team: <input type="text" name="name" placeholder="Team" />

      Enter Group: 
      <select name="group_id">
        <% @group = Group.all%>
        <% @group.each do |t| %>
         <option value="<%= t.id %>"> <%= t.name %> </option>
        <% end %>
      </select>
      
      <input type="submit" value="Enter"/>
  </form>

<p><a href="/admin/landingpage">Back</a></p>