body {
    height: 800px;
    background-image: url("./image/Background.png");
    background-size: cover;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 61%;
    color: white;
}

img.logo{

    max-width:65%;
    max-height:65%;
    position:absolute;
    left: 10%;
    top: 12%;
    
}

.input-wrapper1 input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    position:absolute;
    top: 37%;
    left: 61%;
    
}

.input-wrapper2 input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    position:absolute;
    top: 44%;
    left: 61%;
}

.input-wrapper3 input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    position:absolute;
    top: 51%;
    left: 61%;
    
}
   
.input-wrapper input:focus {
    outline-color: #f08080;
}

button.button1 {
    position: absolute;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: 58%;
    left: 61%;
    font-family:'Courier New', Courier, monospace;   

}

button.button2 {
    text-decoration: none;
    position: absolute;
    padding: 10px 20px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 15px;
    color: #FFF;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: 58%;
    left: 68%;
    font-family:'Courier New', Courier, monospace;
    
    
}
   
button:hover, button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
}