<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    
  
</body>
</html>


<!-- 
<h1>Groups Phase Table</h1>

<% @groups = Group.all%>
<% @groups.each do |g| %>
  <table class="default">
    <th>
      <%= g.name %>
    </th>
    <% @teams = g.team_ids %>
    <% @teams.each do |t| %>
    <% team = Team.find_by_id(t) %>
      <tr>
        <td> <%= team.name %> </td>
        <td> <%= team.points_of_group %> </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p><a href="/player/landingpage">Back</a></p>


-->

