<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    
    <style>
        body {
          background-image: url("/image/Background.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;
        }
    </style>

</head>
<body>

    <header>
            
        <div class="container-fluid">
            <div class="d-flex">

                <p class="m-4"><a href="/admin/landingpage" class="text-center fs-1 " style="font-family: Days One, sans-serif; color: white; text-decoration: none;">ProdemosAr</a></p>
                
            </div>

            <%@player = Administrator.find_by_id(session[:admin_id])%>
            <div class="d-flex m-4 position-absolute top-0 end-0">

                
                <i class="bi bi-person-circle fs-3 mt-2 me-2 " style="color:white ;"></i> <p class=" me-4 fs-2 " style="color:white ;"><%=@player.username%> </p>
                <p class=""><a class="btn btn-outline-primary btn-outline-light me-2 mt-2" href="/logout">Logout</a></p>
            
            </div>
            
        </div>

    </header>

    
    <main class="container-fluid mt-4">

        <div class="row align-items-center">

            <div class="col-3 mt-5 ms-3 d-grid gap-3">

                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/group/new">Create new group</a></p>
                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/team/new">Create new team</a></p>
                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/match/new">Create new match</a></p>
                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/result/new">Create new result</a></p>
                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/groups&teams">See all groups and teams</a></p>
                <p><a class="btn btn-outline-primary btn-outline-light me-1" href="/admin/matches">See all matches</a></p>

            </div>

            <div class="col-1"></div>

            <div class="col-4 ms-5">
                <h1 class="fs-1 p-3 text-center" style="color:white ;">Create Result</h1>

            <% if @error %>
                <div class="error">Sign up failed.</div>
            <% end %>

            <form class="mb-2" action="/admin/result/new" method="post" id="formNewResult">

                <ul class="list-group">

                    <div style="color:white ;"> Home Goals: </div> 
                    <input class="mb-2" type="text" name="home_goals" placeholder="Home Goals" />

                    <div style="color:white ;">Enter Visitor Goals: </div>
                    <input class="mb-2" type="text" name="visitor_goals" placeholder="Visitor Goals" />

                    <div style="color:white ;">Matches:</div>
                    <select name="match_id">
                    <% @match = Match.all%>
                    <% @match.each do |m| %>
                        <%if m.result == nil %>
                            <option value="<%= m.id %>"> <%= m.home_team.name %> vs <%= m.visitor_team.name %></option>
                        <% end %>
                    <% end %>
                    </select>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Enter
                    </button>
                </ul>
            </form>
            </div>
        </div>
    </main>

    

    

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Notice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to create this result?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" onclick="sendFormulario()" class="btn btn-primary">Accept</button>
        </div>
        </div>
    </div>
    </div>
    
    <script>
    function sendFormulario() {
        let objetoRepresentaForm = document.getElementById("formNewResult");
        objetoRepresentaForm.submit();
    }
    </script>

</body>
</html>