<p><a href="/play">Create new forecast</a></p>
<p><a href="/forecasts">See all your forecasts and points</a></p>
<p><a href="/matches/played">See the played matches</a></p>
<p><a href="/matches/toplay">See the matches to play</a></p>
<p><a href="/logout">Logout!</a></p>