<p><a href="/">Create new forecast</a></p>
<p><a href="/">See all your forecasts and points</a></p>
<p><a href="/">See the played matches</a></p>
<p><a href="/">See the matches to play</a></p>
<p><a href="/logout">Logout!</a></p>