<p><a href="/play">Create new forecast</a></p>
<p><a href="/forecasts">See all your forecasts and points</a></p>
<p><a href="/matches">See the played matches or the matches to play</a></p>
<p><a href="/logout">Logout!</a></p>