<h1>Create Match</h1>

  <% if @error %>
      <div class="error">Sign up failed.</div>
  <% end %>

  <form action="/create_match" method="post">
      Enter Stadium: <input type="text" name="stadium" placeholder="Stadium" />

      Enter Fecha:  <input type="datetime-local" name="date" placeholder="Date" />

      Enter Home:
      <select name="home_team_id">
        <% @team = Team.all%>
        <% @team.each do |t| %>
            <option value="<%= t.id %>"> <%= t.name %> </option>
        <% end %>
      </select>

      Enter Visitor: 
      <select name="visitor_team_id">
        <% @team = Team.all%>
        <% @team.each do |t| %>
         <option value="<%= t.id %>"> <%= t.name %> </option>
        <% end %>
      </select>

      Match Type:
      <select name="match_type">
        <option value="GROUP">GROUP</option>
        <option value="OCTAVES">OCTAVES</option>
        <option value="QUARTERS">QUARTERS</option>
        <option value="SEMI">SEMI</option>
        <option value="FINAL">FINAL</option>
      </select>

      <input type="submit" value="Enter"/>
  </form>
