<p><a href="/play">Create new result</a></p>
<p><a href="/create_group">Create new group</a></p>
<p><a href="/create_match">Create new match</a></p>
<p><a href="/create_team">Create new team</a></p>
<p><a href="/logout">Logout!</a></p>