<p><a href="/play">Create new result</a></p>
<p><a href="/forecasts">Create new group</a></p>
<p><a href="/matches/played">Create new match</a></p>
<p><a href="/matches/toplay">Create new team</a></p>
<p><a href="/logout">Logout!</a></p>