<p><a href="/create_result">Create new result</a></p>
<p><a href="/create_group">Create new group</a></p>
<p><a href="/all_groupes">All groups created</a></p>
<p><a href="/create_match">Create new match</a></p>
<p><a href="/all_matches">All matches created</a></p>
<p><a href="/create_team">Create new team</a></p>
<p><a href="/all_teams">All teams created</a></p>
<p><a href="/logout">Logout!</a></p>