<p><a href="/admin/group/new">Create new group</a></p>
<p><a href="/admin/team/new">Create new team</a></p>
<p><a href="/admin/match/new">Create new match</a></p>
<p><a href="/admin/result/new">Create new result</a></p>
<p><a href="/admin/groups&teams">See all groups and teams</a></p>
<p><a href="/admin/matches">See all matches</a></p>
<p><a href="/logout">Logout</a></p>