<h1>Your Forecasts</h1>

<%@player = Player.find_by_id(session[:player_id])%>

<h2> Your Points: <%=@player.points%> </h2>

<% @player.forecasts.each do |f| %>
  <p>Home Goals: <%= f.home_goals %> - Visitor Goals: <%= f.visitor_goals %> - Match: <%= f.match_id %> </p>
<% end %>

<p><a href="/landingpage">Back</a></p>