<h1>Start Page</h1>

<p><a href="http://localhost:4567/signup">Sign up!</a></p>
<p><a href="http://localhost:4567/login">Login!</a></p>

<!-- <p><a href="http://localhost:4567/signup">Sign up!</a></p> -->
<!-- <p><a href="http://localhost:4567/login">Log in!</a></p> -->
