<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

    <header>
        
        <h1>ProdemosAr</h1>
        
        <nav>
            <p><a href="/signup">Sign up</a></p>
            <p><a href="/login">Login</a></p>
        </nav>
        
    </header>
    
    

</body>
</html>
<!-- <p><a href="http://localhost:4567/signup">Sign up!</a></p> -->
<!-- <p><a href="http://localhost:4567/login">Log in!</a></p> -->
