<!DOCTYPE html>
<html lang="en">
<head>

    <title>ProdemosAr</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> 

    <style>
        body{
            background-color:white;
            margin: 0;
        }

        header {
            background-color:#ED213A;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        h1 {

            font-family: 'Days One', sans-serif;
            color:white;
            text-align: center;
            font-size: 400%;
        }

        p { 
            text-align: center;
            font-size: x-large;
        }

        a {
            color:white;
            font-family: Arial, Helvetica, sans-serif;
        }



    </style>

</head>
<body>

    <header>
        
        <h1>ProdemosAr</h1>
        
        <nav>
            <p><a href="/signup">Sign up</a></p>
            <p><a href="/login">Login</a></p>
        </nav>
        
    </header>
    
    

</body>
</html>


<!-- <p><a href="http://localhost:4567/signup">Sign up!</a></p> -->
<!-- <p><a href="http://localhost:4567/login">Log in!</a></p> -->
