<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProdemosAr</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</head>

<body>
  <header class="bg-danger p-4 ">
    <div class="container mw-100 ">
      <div class="row justify-content-between mt-3">
        <h1 class="col-auto me-auto text-decoration-none" style="font-family: Days One, sans-serif; color: white;">ProdemosAr</h1>
          <div class="col-auto">
            <a class="btn btn-outline-primary btn-outline-light me-2" href="/player/login" role="button">Login</a>
            <a class="btn btn-outline-primary btn-outline-light me-2" href="/player/signup" role="button">Sign Up</a>
            <a class="btn btn-outline-primary btn-outline-light me-2" href="/admin/login" role="button">Login as Administrator</a>
          </div>
      </div>
    </div>
  </header>


  <main class="container-md">

    <div class="row mt-5">

      <div class="col text-center">
        <h1 class="mt-5 mb-3 display-2" style="font-family: Days One, sans-serif;">Welcome to ProdemosAr</h>
      </div>

      


    </div>

    <div class="row mt-5 text-center">

      <div class="col-2"></div>

      <div class="col-8">

        <p><em>This line rendered as italicized text.This is a website that allows you to make your predictions for the Qatar World Cup 2022.<br> You can play and earn points based on the results of each match and your predictions.</em></p>
      </div>

      <div class="col-2"></div>

    </div>

    
  </main>

  


  






  <footer class="py-5 my-5 ">
    <div class="container-fluid position-absolute bottom-0 start-50 translate-middle-x">
      <div class="row d-flex justify-content-center ">
        
        <hr class="featurette-divider">
        <a class="w-auto" style="color:black ;" href="https://github.com/ValeButtignol/AYDS2022.git"><i class="bi bi-github fs-3"></i></a></button>
        <p class="text-center mt-2 text-muted">© 2022 Company, Inc. All rights reserved.</p>
      </div>
    </div>
      
  </footer>

</body>
</html>


<!-- <p><a href="http://localhost:4567/signup">Sign up!</a></p> -->
<!-- <p><a href="http://localhost:4567/login">Log in!</a></p> 

  <main class="container-md">

    <div class="row  align-items-center mt-5 d-flex">
      <div class="col-2">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="8000">
              <img src="/image/Selecciones qatar 2022/qatar.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="/image/Selecciones qatar 2022/ecuador.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/senegal.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/paisesbajos.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/inglaterra.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item text-center">
              <img src="/image/Selecciones qatar 2022/iran.png" class="rounded w-75 " alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/usa.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/gales.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/argentina2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/arabiasaudita.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/mexico.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/polonia.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/francia.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/australia.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/dinamarca.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/tunez.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/espana.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/costarica.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/alemania.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/japon.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/belgica.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/canada.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/marruecos.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item text-center">
              <img src="/image/Selecciones qatar 2022/croacia.png" class="rounded w-75" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/brasil.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item text-center">
              <img src="/image/Selecciones qatar 2022/serbia.png" class="rounded w-50" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/suiza.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item text-center">
              <img src="/image/Selecciones qatar 2022/camerun.png" class="rounded w-75" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/portugal.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item text-center">
              <img src="/image/Selecciones qatar 2022/ghana.png" class="rounded w-75" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/uruguay.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/image/Selecciones qatar 2022/coreadelsur.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-2 ms-5 mt-3">
        <h5>Escudo de las selecciones que participaran de qatar 2022</h5>
      </div>
    </div>


    

    <div class="h1 pb-2 mb-4 mt-5  text-danger border-bottom border-danger">
      Datos de Qatar 2022
    </div>
    

    <div class="row border border-3 border-danger rounded-2 mt-4">

      <div class="col align-self-center mt-4 ms-5">
        <h3>Catar y la FIFA han anunciado que La’eeb será la mascota oficial de la Copa Mundial de la FIFA Catar 2022™</h3>
        <p>La palabra «La’eeb» significa en árabe «jugador habilidoso». Procedente del metaverso de las mascotas, un universo paralelo que no se puede describir con palabras y cada uno puedo imaginar como quiera. La’eeb anima a todos a creer en sí mismos. Ha llegado el momento de repartir la alegría del fútbol por el mundo entero. </p>

      </div>

      <div class="col-md-4 ms-auto">
        <img src="/image/La eeb.png" class="img-fluid mt-4 " alt="...">

      </div>
      


    </div>


    <div class="row border border-3 border-danger rounded-2 mt-4">

      <div class="col-5 mt-3 ms-5">
        <img src="/image/16541200933050.jpg" class="img-fluid mt-4" alt="...">    
      </div>
      
      <div class="col mt-4 ms-5">
        <h3>FALTAN 217 DIAS </h3>
        <p><em>faltan exactamente 217 días para el inicio de la Copa del Mundo. El torneo comenzará el 21 de noviembre de 2021, con el partido entre Qatar y Ecuador a jugarse en el Estadio Al Bayt.</em></p>
        <p><strong>¿CUÁLES SON LAS FECHAS MÁS IMPORTANTES DE QATAR 2022?</strong></p>
        <ul>
          <li><em>Copa del Mundo comenzará el 21 de noviembre de 2021 con el partido inaugural.</em></li>
          <li><em>Los octavos de final empezarán el 3 de diciembre de 2021, sobreviviendo los 16 mejores equipos de la competencia.</em></li>
          <li><em>Los cuartos de final se desde el 9 de diciembre de 2021, siendo cuatro duelos más que definen a los semifinalistas.</em></li>
          <li><em>Las semifinales se juegan el 13 y 14 de diciembre de 2021, arrojando a los dos finalistas.</em></li>
          <li><em>Por último, la final está pactada para el domingo 18 de diciembre.</em></li>
        </ul>
      </div>
    
    </div>
  </main>


  <div class="row mt-3">
      <div class="col text-center">
        <h1 class="text-danger">¿Como jugar?</h1>
      </div>
    </div>

    <div class="row mt-2">

      <div class="col-5">
        <img src="/image/Captura.PNG" class="img-fluid mt-4 rounded-3" alt="...">
      </div>
      <div class="col mt-3 ms-5">
        <h1>1</h1>
        <p>Intruccion de juego</p>
      </div>

    </div>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> 
  </head>
  <body>
    
    <header class="bg-danger p-4 ">
            
      <div class="container mw-100">

        <div class="row justify-content-between ">
          <a class=" col-auto me-auto text-decoration-none" style="font-family: Days One, sans-serif; color: white; font-size: xx-large;" href="/">ProdemosAr</a>
          <div class="col-auto">
            <button type="button" class="btn btn-outline-primary btn-outline-light me-2 ">Login</button>
            <button type="button" class="btn btn-outline-primary btn-outline-light">Sign-up</button>
          </div>
      
        </div>      

      </div>
      
      
      
    </header>

    
  </body>
</html>

  <button class="button"><a href="/signup">Sign up</a></button>
            <button class="button"><a href="/login">Login</a></button>
            <button class="button"><a href="/login_admin">Login Admin</a></button>


-->
