<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
    body {
      background-image: url("/image/Background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }
    </style>

</head>
<body>

    <div class="h4 pb-2 mb-1 text-danger border-bottom border-danger"> 
        <br>
            <center> 
                    <p> 
                    <h1 class="text primary text-white"> <i class="bi bi-file-text"></i> Information of the page <i class="bi bi-file-text"></i> <span class="badge bg-secondary"></span></h1>
                    </p> 
            </center>
        <br>
    </div>

    <h5 class="text primary text-white">
        <center>
            <br>    
        
                <p class="fs-4">
                    ¿How to play?
                </p>

                <p class="fs-6">
                    In order to create the bet, we will select the following option from the menu
                </p>

                <p>
                    <i class="bi bi-arrow-right"></i>
                        <a class="btn btn-outline-primary btn-outline-light me-1">Create new forecast </a> 
                    <i class="bi bi-arrow-left"></i>
                </p>

                <p class="fs-6">
                    Then we must enter the goals for the home team and the visitor
                </p>

                <div class="col-1"></div>

                <div class="col-5">
                    <div class="row">
                        <div class="col">
                          <input type="number" name="home_goals" class="form-control" placeholder="Home goals" aria-label="home_goals">
                        </div>
                        <div class="col">
                          <input type="number" name="visitor_goals" class="form-control" placeholder="Visitor goals" aria-label="visitor_goals"> 
                        </div>
                      </div>
                </div>
                <div class="col"></div>

                <p>
                    <p class="fs-6">
                        And finally we must choose the match on which we are going to bet
                    </p>
                </p>

            </br>

            <br>

                <p class="fs-4">
                    ¿Where do I see my predictions and my points?
                </p>

                <p class="fs-6">
                    In the menu we will select the following option
                </p>

                <p>
                    <i class="bi bi-arrow-right"></i>
                        <a class="btn btn-outline-primary btn-outline-light me-1" >See all your forecasts and points</a>
                    <i class="bi bi-arrow-left"></i>
                </p>

            </br>

            <br>
            
                <p class="fs-4">
                    ¿How can I see the games that have been played or have already been played?
                </p>

                <p class="fs-6">
                    To see all the games, in the menu we will select the option
                </p>

                <p>
                    <i class="bi bi-arrow-right"></i>
                        <a class="btn btn-outline-primary btn-outline-light me-1">See the played matches or the matches to play</a>
                    <i class="bi bi-arrow-left"></i>
                </p>  

            </br>

            <br>

                <p class="fs-4">
                    ¿Where to see the selections?
                </p>

                <p class="fs-6">
                    To see the selections in the menu we will have the following option
                </p>

                <p>
                    <i class="bi bi-arrow-right"></i>
                        <a class="btn btn-outline-primary btn-outline-light me-1">See the groups phase table </a> 
                    <i class="bi bi-arrow-left"></i>
                </p>

            </br>

            <br>

                <p class="fs-4">
                    ¿How do I see all the teams and their points?
                </p>

                <p class="fs-6">
                    In the menu we will select the following option
                </p>

                <p>
                    <i class="bi bi-arrow-right"></i>
                        <a class="btn btn-outline-primary btn-outline-light me-1" >See the players ranking</a> 
                    <i class="bi bi-arrow-left"></i>
                </p>
                
            </br>

        </center>
    </h5>
</body>
<html>