<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
    body {
      background-image: url("/image/Background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }
    </style>

</head>
<body>

    <div class="h4 pb-2 mb-1 text-danger border-bottom border-danger"> 
        <br>
            <center> 
                    <p> 
                    <h1 class="text primary text-white"> <i class="bi bi-file-text"></i> World Cup Information<i class="bi bi-file-text"></i> <span class="badge bg-secondary"></span></h1>
                    </p> 
            </center>
        <br>
    </div>

    <h5 class="text primary text-white">
        <center>
            <br>    
        
                <p class="fs-4">
                    ¿How many teams participate in the World Cup?
                </p>

                <p class="fs-6">
                    The participating teams are 32, in which:
                    <p><img src="/image/asi.png" width="75" height="75">4 of the Asian Eliminations <img src="/image/asi.png" width="75" height="75"></p>
                    <p><img src="/image/conmebol.png" width="75" height="75">4 from Conmebol Eliminations <img src="/image/conmebol.png" width="75" height="75"></p> 
                    <p><img src="/image/africa.png" width="75" height="75">5 of the African Eliminations <img src="/image/africa.png" width="75" height="75"></p>
                    <p><img src="/image/concacaf.png" width="75" height="75">3 from Concacaf Eliminations<img src="/image/concacaf.png" width="75" height="75"></p>
                    <p><img src="/image/uefa.png" width="75" height="75">10 from Uefa Eliminations <img src="/image/uefa.png" width="75" height="75"></p>
                    <p>-8 remaining of the playoffs between these confederations.</p>
                </p>

            </br>

            <br>

                <p class="fs-4">
                    ¿How often is the World Cup played?
                </p>

                <p class="fs-6">
                    The world cup is played every 4 years
                </p>
                
            </br>

            <br>
                <p class="fs-4">
                    ¿How is the format of the world cup?
                </p>

                <p class="fs-6">
                    <p>The format consists of 8 groups of 4 selections.</p>
                    <p>The first two of each group qualify for the next round.</p>
                    <p>After qualifying for the next round, the Round of 16, Quarterfinals, Semifinal and Final, it is a single match.</p>
                </p>

               

            </br>
        </center>
    </h5>
</body>
<html>