<h1>Login</h1>

  <% if @error %>
      <div class="error">Login failed.</div>
  <% end %>

  <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />

      <input type="submit" name="button" value="Login" />
  </form>

<!--  <p>If you don't have an account you can <a href="http://localhost:4567/signup">Sign up!</a></p> -->